.HeaderContainer {
  display: flex;
  flex-direction: column;
  background-color: #330c2f;
  width: 100%;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #fedeb7;
  font-weight: 1000;
  align-items: center;
  height: 200px;
  width: 100%;
  padding-bottom: 50px;
}

.HeadingContainer {
  display: flex;
  flex-direction: row;
}

.Sean,
.Sean:hover {
  color: #fedeb7;
  font-size: 72px;
  background-color: inherit;
  border: none;
  margin: 24px 16px 24px 16px;
  padding: 0;
  width: auto;
}

.Header h1 {
  font-size: 72px;
  margin: 24px 0 24px 0;
}

.Admin {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #fedeb7;
}

.TopBar {
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px 8px 16px;
}

.Logout,
.Logout:hover {
  height: 40px;
  width: 32px;
  background-color: inherit;
  border: none;
  color: #9fb6cb;
  border-radius: 8px;
}

.Logout:hover {
  background-color: #54194e;
}
